.cart {
  position: sticky;
  top: 50px;
}
.user-info {
  background-color: gray;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  margin: 0px 30px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.info {
  display: flex;
  flex-direction: column;
}

.info h1,
p {
  margin: 0px;
}

.lighter {
  font-weight: lighter;
  font-size: 0.5em;
}

.break-section {
  display: flex;
  margin: 0px 30px;
}

.completed {
  background-color: #303030;
  border: none;
  color: white;
  padding: 20px 56px;
  margin: 20px 0px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.completed:hover {
  background-color: white;
  color: black;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
