.picture {
  width: 100%;
  height: 233px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  border: none;
  width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}

.btn-add {
  background-color: #0033cc;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 80%;
  margin-bottom: 20px;
  border-radius: 5px;
}

.btn-add:hover {
  background-color: #4080ff;
}

.btn-added {
  background-color: #4080ff;
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 80%;
  margin-bottom: 20px;
  border-radius: 5px;
}

.btn-added:hover {
  background-color: #0033cc;
}

.hide {
  display: none;
}

.number {
  border: 1px solid white;
  color: white;
  text: bold;
  margin-left: 5px;
  padding: 5px;
  border-radius: 45%;
}
