.picture {
  width: 350px;
  max-height: 233px;
}

.card {
  border: 1px solid #ccc;
  width: 350px;
}

.btn-add {
  background-color: #0033cc;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 80%;
  margin-bottom: 20px;
  border-radius: 5px;
}
