.picture {
  width: 350px;
  max-height: 233px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  border: none;
  width: 350px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btn-add {
  background-color: #0033cc;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 80%;
  margin-bottom: 20px;
  border-radius: 5px;
}
