.item {
  cursor: pointer;
  background-color: #303030;
  color: white;
  padding: 5%;
  border: 1px solid #303030;
  width: 100%;
}

.item:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.btn-activated {
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 5%;
  width: 100%;
}
